.new-tweet {
  margin-left: 20px;
  margin-right: 20px;
}

.button {
  font-family: "Bungee";
  color: #FFFFFF;
  background-color: #4056A1;
}

.label {
  font-family: "Source Sans Pro";
  color: #383232;
}



#tweet-text {
  border-bottom: 4px solid black;
  resize: none;
}

.tweet-box {
  display: flex;
  flex-direction: column;
}

.button-and-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error-messages-div {
  display: visible;
}

.error-messages {
  color: red;
  font-weight: 1000;
}

.error-messages-visible {
  display: visible;
  border: 2px solid red;
}