.tweet {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tweet:hover {
  box-shadow: 4px 4px black;
}

.emojis {
  color: red;
}

#flag-emoji:hover {
  color: blue;
}

#retweet-emoji:hover {
  color: blue;
}

#heart-emoji:hover {
  color: blue;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.user-username {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar-username {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}