/* .tweet-container {
  display: flex;
  position: absolute;
} */

.tweet {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}

.tweet:hover {
  box-shadow: 4px 4px black;
}

.emojis {
  color: red;
  box-shadow: 2px 2px black;
}

#flag-emoji:hover {
  color: blue
}

#retweet-emoji:hover {
  color: blue
}

#heart-emoji:hover {
  color: blue
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.user-username {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* .user {
  justify-content: space-between;
  flex-direction: row;
}

.username {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
} */